.u-center-text {
    text-align: center !important;
}

.u-margin-top {
    margin-top: 1rem;
}

.u-margin-bottom {
    margin-bottom: 1rem;
}

.u-border {
    border: 1px solid $color-black;
}

.u-border-radius {
    border-radius: $default-border-radius;
}

// .u-tag-name {
//     color: $color-tag-name;
// }

// .u-symbol {
//     color: $color-symbol;
// }

// .u-attribute {
//     color: $color-attribute;
// }

// .u-value {
//     color: $color-value;
// }

// .u-equal {
//     color: $color-equal;
// }
