@mixin btnStyle {
    padding: $default-padding;
    font-size: $default-font-size;
    border: none;
    border-radius: $default-border-radius;
    cursor: pointer;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 0.4rem 0.8rem rgba($color-black, 0.5);
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 0.2rem 0.4rem rgba($color-black, 0.7);
    }
}

@mixin formInput {
    padding: $default-padding;
    border-radius: $default-border-radius;
}

@mixin formLabel {
    display: block;
    font-size: $input-label;
    transform: translate(0, -5.5rem);
    opacity: 1;
    transition: all 0.3s;
}

@mixin fomrLabelTranslate {
    transform: translate(1rem, -3rem);
    opacity: 0;
}
