.components-description {
    background-color: $color-light-brown;
    padding: $default-padding;
    border-radius: $default-border-radius;
    margin-top: 1rem;

    &__code-line {
        font-size: $default-font-size;
        letter-spacing: 2px;
    }
}
